<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tlh.sys.mapper.UserMapper">
	
	<insert id="saveUser" parameterType="user">
		INSERT INTO sys_users(userName,password,realName,createTime,enabled,salt) VALUES(#{username},#{password},#{realName},#{createTime},#{enabled},#{salt})
	</insert>
	
	<select id="findUserInfos" parameterType="user" resultType="user">
		SELECT * FROM sys_users
	</select>

	<select id="validateUserInfo" parameterType="string" resultType="user">
		SELECT * FROM sys_users where username=#{userName}
	</select>

	<delete id="deleteUser" parameterType="user">
		DELETE FROM sys_users WHERE id=#{id}
	</delete>

	<update id="updateUser" parameterType="user">
		UPDATE sys_users
		<set>
			<if test="realName!=null and realName!=''">
				realName=#{realName},
			</if>
			<if test="password!=null and password!=''">
				password=#{password},
			</if>
			<if test="createTime!=null">
				createTime=#{createTime}
			</if>
		</set>
		<where>
			id=#{id}
		</where>
	</update>

	<select id="findRoles" resultType="string" parameterType="string">
		SELECT
			sr.roleName
		FROM
			sys_roles sr
		INNER JOIN sys_user_role_links sur ON sr.id = sur.role_id
		INNER JOIN sys_users su ON sur.user_id = su.id
		WHERE
			su.userName =#{value}
	</select>

	<select id="findPermissions" resultType="string" parameterType="string">
		SELECT
			srr.url
		FROM
			sys_rights srr
		INNER JOIN sys_role_right_links srrl ON srr.id = srrl.right_id
		INNER JOIN sys_roles sr ON srrl.role_id = sr.id
		INNER JOIN sys_user_role_links sur ON sr.id = sur.role_id
		INNER JOIN sys_users su ON sur.user_id = su.id
		WHERE
			su.userName =#{value}
	</select>

</mapper>