<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tlh.sys.mapper.UserMapper">
	
	<insert id="saveUser" parameterType="user">
		INSERT INTO sys_user(username,password) VALUES(#{username},#{password}) 
	</insert>
	
	<select id="findUserInfos" parameterType="user" resultType="user">
		SELECT * FROM sys_user
	</select>

	<select id="validateUserInfo" parameterMap="user" resultMap="user">
		SELECT * FROM sys_user where username=#{username} and password=#{password}
	</select>

</mapper>